.nav{
	margin-top: 20px;
	margin-left: 210px;
}

.nav a{
    color: #095385;
	text-align: : right;
	margin-right: 30px;
    transition: all 0.8s; 
}
.nav a:hover{
	border:1px solid #095385; 
	color: #93a5a5;
	background-color: #095385;
	
}