.nav{
	margin-top: 20px;
	margin-left: 210px;
}

.nav a{
    color:   #fff;
	text-align: : right;
	margin-right: 20px;
    transition: all 0.8s; 
}
.nav a:hover{
	border:1px solid #095385; 
	color: #93a5a5;
	background-color: #095385;
	
}
.call-log sup{
	padding-left: 3px;
	color: #04856f;
	font-size: 14px; 
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #000;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color:#00af8f;
  color:#fff;
  z-index: -9999;
}
.come{

	color: green;
	font-size: 28px;
	/*color: #5c3df7;*/
	
}
.go{
	
	color: blue;
	font-size: 28px;
	/*color: #5c3df7;*/
	
}



.pagination {
  display: flex;
  @include list-unstyled();
  @include border-radius();
}

.page-link {
  position: relative;
  display: block;
  padding: $pagination-padding-y $pagination-padding-x;
  margin-left: -$pagination-border-width;
  line-height: $pagination-line-height;
  color: #04856f;
  background-color: $pagination-bg;
  border: $pagination-border-width solid #04856f;

  &:hover {
    z-index: 2;
    color: #04856f;
    text-decoration: none;
    background-color: #04856f;
    border-color: #04856f;
  }

  &:focus {
    z-index: 2;
    outline: $pagination-focus-outline;
    box-shadow: $pagination-focus-box-shadow;
  }
}

.page-item {
  &:first-child {
    .page-link {
      margin-left: 0;
      @include border-left-radius($border-radius);
    }
  }
  &:last-child {
    .page-link {
      @include border-right-radius($border-radius);
    }
  }

  &.active .page-link {
    z-index: 1;
    color: #04856f;
    background-color: #04856f;
    border-color: #00af8f;
  }

  &.disabled .page-link {
    color: $pagination-disabled-color;
    pointer-events: none;
    // Opinionated: remove the "hand" cursor set previously for .page-link
    cursor: auto;
    background-color: #04856f;
    border-color: $pagination-disabled-border-color;
  }
}


//
// Sizing
//

.pagination-lg {
  @include pagination-size($pagination-padding-y-lg, $pagination-padding-x-lg, $font-size-lg, $line-height-lg, $border-radius-lg);
}

.pagination-sm {
  @include pagination-size($pagination-padding-y-sm, $pagination-padding-x-sm, $font-size-sm, $line-height-sm, $border-radius-sm);
}
\




