body {
    background: url('../images/pucit2.jpg') no-repeat fixed center center;
    background-size: cover;
    font-family: Montserrat;
}

.logo {
    width: 400px;
    height: 36px;
    /*background: url("Welcome to CMS") no-repeat;*/
    margin: 15px auto;
    
}

.login-block {
    width: 320px;
    padding: 20px;
    background: #04856f;
    border-radius: 5px;
    border-top: 5px solid #000;
    margin: 0 auto;
}

.login-block h1 {
    text-align: center;
    color: #000;
    font-size: 25px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0px;
}

.login-block input {
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    border-radius: 50px;
    border: 3px solid #fff;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: Montserrat;
    padding: 0 20px 0 50px;
    outline: none;
    color: white;
}

.login-block input#username {
    background: #000 url('../images/user.png') 20px top no-repeat;
    background-size: 16px 80px;
}

.login-block input#username:focus {
    background: #000 url('../images/user.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}

.login-block input#password {
    background: #000 url('../images/pass.png') 20px top no-repeat;
    background-size: 16px 80px;
}

.login-block input#password:focus {
    background: #000 url('../images/pass.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}

.login-block input:active, .login-block input:focus {
    border: 1px solid #000;
}

.login-block #button {
    margin-left: 30%;
    width: 100px;
    height: 40;
    background: url('../images/sign_in.png') no-repeat;
    background-color: 	#4B0082;
    
    border-radius: 100px;
   
    
    cursor: pointer;
   padding: 0 0px 0 0px;
}

